/* https://unmaredascalare.github.io/codice/medallia.css */
/* https://melanyss.github.io/code/styles/survey.css */
._md-container {
    display: none !important;
}

.provaRadio2:not(.kplFormHolder) {
    box-shadow: 0 0 5px 5px #c9c9c9 !important;
    border-radius: 5px !important;
    background-color: white !important;
    margin: 20px !important;
    padding: 8px !important;
}

p.ng-binding {
    margin: 0.9%;
}

.titolo {
    background-color: white !important;
    border-radius: 15px !important;
    width: 100% !important;
    padding: 10px 0px 1px 20px !important;
    margin-bottom: 0px !important;
    margin-top: -15px !important;
    box-shadow: 0 5px 5px #c9c9c9 !important;
}

.neb-web-component:not(.titolo, .immagine) {
    padding: 0px !important;
}

.img-responsive {
    width: 100% !important;
    border-radius: 0 0 20px 20px !important;
    padding-bottom: 8px;
    height: 16.5em;
}

div.md-checked:not(.ng-valid) {
    box-shadow: rgb(230 0 0 / 40%) 0px 0px 0px 3px !important;
}

div.kpl-form-footer {
    /* visibility: hidden; */
    display: none !important;
}

.neb-component.neb-web-component.neb-image.kplFormHolder.immagine::after {
    padding-left: 4.5%;
    color: white;
    font-size: 15px;
}

div[fb-form='Prova'] .neb-component.neb-web-component.neb-image.kplFormHolder.immagine::after {
    content: '1 di 3';
}

div[fb-form='Prova2'] .neb-component.neb-web-component.neb-image.kplFormHolder.immagine::after {
    content: '2 di 3';
}

div[fb-form='Prova3'] .neb-component.neb-web-component.neb-image.kplFormHolder.immagine::after {
    content: '3 di 3';
}

.immagine {
    padding: 0 0 20px !important;
    background: linear-gradient(45deg, #820000 0%, #e60000 100%);
    margin: 0px !important;
    text-align: center;
}

.control-label {
    display: none;
}

img.ng-scope:not(.img-responsive, .img-fluid) {
    padding: 0 0 45px !important;
    width: 100% !important;
    max-width: 10000000px !important;
    max-height: 10000000px !important;
}

.thankYouPageLogoPreviewImage {
    margin-top: 0px !important;
    background: linear-gradient(45deg, #820000 0%, #e60000 100%);
    margin: 0px !important;
    border-radius: 0 0 20px 20px !important;
}

.fb-form-object {
    padding: 0px !important;
}

div#thankYouPageText h3 span {
    font-size: 19px;
    font-weight: bold;
}
div#thankYouPageText p span:nth-child(2) strong span {
    font-weight: bold;
}

#liveForm .kpl_builder .pageRepeater label,
#liveForm .kpl_builder .kpl-thankYouHolder label.error {
    text-align: center !important;
}

div#thankYouPageText div.ng-binding p:nth-child(3) {
    margin-bottom: 0px;
}
div#thankYouPageText div.ng-binding p:last-child {
    display: none;
}

div#thankYouPageText div.ng-binding p:nth-child(2) span {
    font-size: 13px;
}

div.modal-live-form {
    height: 92% !important;
    max-height: 100% !important;
    display: block;
}
